*
	margin: 0
	padding: 0

.card
	font-size: 4rem
	width: 100px
	height: 100px
	background-color: grey
	text-align: center
	align-content: center
	margin: 0 0 2rem 0

.slot
	font-size: 4rem
	width: 200px
	height: 200px
	background-color: grey
	text-align: center
	align-content: center
	margin: 0 0 2rem 0

#wrapper
	margin: 2rem auto
	width: 80%
	display: flex
	justify-content: space-between
